@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    background: red;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary::first-letter {
    text-transform: capitalize;
}
