@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/backgrounds/clouds.jpg") no-repeat fixed;
  background-size: cover;
  height: 100vh;
  font-family: 'Lato', sans-serif; }

.container {
  max-width: 610px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto; }
  .container .maxWidth {
    width: 610px; }
  .container .wrap-bg {
    padding: 40px 40px 24px;
    border-radius: 50px;
    background: rgba(34, 34, 34, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(30px);
    --webkit-backdrop-filter: blur(30px);
    /* (plus shape's fill blended on top as a separate layer with 30% opacity) */ }
    .container .wrap-bg .row {
      display: flex;
      width: 100%; }
      .container .wrap-bg .row .img img {
        height: auto;
        width: 100%; }
      .container .wrap-bg .row .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 2rem; }
        .container .wrap-bg .row .data .temp {
          color: white;
          font-size: 82px;
          font-weight: 900;
          text-align: center; }
          .container .wrap-bg .row .data .temp .degrees {
            color: rgba(255, 255, 255, 0.7);
            font-size: 40px;
            margin-left: 5px;
            top: -0.7em;
            font-weight: 400; }
        .container .wrap-bg .row .data .desc {
          color: rgba(255, 255, 255, 0.7);
          font-size: 28px;
          margin-top: -15px; }
      .container .wrap-bg .row .item-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem; }
        .container .wrap-bg .row .item-wrap .item-title {
          font-weight: 300;
          font-size: 22px;
          color: #fff; }
        .container .wrap-bg .row .item-wrap .item-data {
          font-weight: 900;
          font-size: 32px;
          text-align: left;
          color: #fff;
          text-align: center; }
          .container .wrap-bg .row .item-wrap .item-data span {
            margin-left: 2px;
            font-weight: 400;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.7); }
      .container .wrap-bg .row .hourly {
        text-align: left;
        font-weight: bold;
        font-size: 28px;
        color: #fff;
        margin-bottom: 0.5rem; }
      .container .wrap-bg .row .hours-wrap {
        display: flex;
        transition: all 0.3s ease-in-out; }
        .container .wrap-bg .row .hours-wrap .hour-widget {
          width: 90px;
          height: 130px;
          border-radius: 20px;
          background: rgba(0, 0, 0, 0.25);
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .container .wrap-bg .row .hours-wrap .hour-widget .time {
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            color: #fff; }
          .container .wrap-bg .row .hours-wrap .hour-widget .icon {
            width: 100%;
            display: flex;
            justify-content: center; }
            .container .wrap-bg .row .hours-wrap .hour-widget .icon img {
              height: auto;
              width: 50px; }
          .container .wrap-bg .row .hours-wrap .hour-widget .temp {
            font-weight: 900;
            font-size: 22px;
            text-align: center;
            color: #fff; }
            .container .wrap-bg .row .hours-wrap .hour-widget .temp sup {
              top: -0.4em;
              font-weight: 400; }
          .container .wrap-bg .row .hours-wrap .hour-widget:hover {
            cursor: grab; }
          .container .wrap-bg .row .hours-wrap .hour-widget:active {
            cursor: grabbing; }
    .container .wrap-bg .city {
      font-size: 42px;
      font-weight: 700;
      color: white;
      text-align: center; }
    .container .wrap-bg .weather-list .day-row {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding-top: 7px; }
      .container .wrap-bg .weather-list .day-row .day-name {
        font-weight: 700;
        font-size: 28px;
        text-align: left;
        color: rgba(255, 255, 255, 0.7); }
      .container .wrap-bg .weather-list .day-row .day-data {
        display: flex; }
        .container .wrap-bg .weather-list .day-row .day-data .icon {
          width: 50px;
          display: flex;
          justify-content: center; }
          .container .wrap-bg .weather-list .day-row .day-data .icon img {
            height: auto;
            width: 100%; }
        .container .wrap-bg .weather-list .day-row .day-data .temp-high {
          font-weight: 700;
          font-size: 28px;
          text-align: left;
          color: #fff;
          margin-right: 0.5rem;
          width: 50px; }
          .container .wrap-bg .weather-list .day-row .day-data .temp-high sup {
            font-weight: 400;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.7);
            top: -0.7em; }
        .container .wrap-bg .weather-list .day-row .day-data .temp-low {
          font-weight: 700;
          font-size: 28px;
          text-align: left;
          color: rgba(255, 255, 255, 0.7);
          width: 50px; }
          .container .wrap-bg .weather-list .day-row .day-data .temp-low sup {
            font-weight: 400;
            font-size: 14px;
            top: -0.7em; }
    .container .wrap-bg .weather-list .border-none {
      border-bottom: none; }
  .container .grid-icons .wrap-bg {
    height: 182px;
    padding: 20px; }
    .container .grid-icons .wrap-bg .title {
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
      text-transform: uppercase; }
    .container .grid-icons .wrap-bg .data {
      display: flex;
      justify-content: center;
      position: relative;
      margin-top: 0.3rem; }
      .container .grid-icons .wrap-bg .data .centerIt {
        font-weight: 900;
        font-size: 66px;
        color: #fff;
        position: relative; }
        .container .grid-icons .wrap-bg .data .centerIt span {
          color: rgba(255, 255, 255, 0.7);
          font-weight: 400;
          font-size: 24px;
          position: absolute;
          top: 12px; }
    .container .grid-icons .wrap-bg .icon {
      display: flex;
      justify-content: center; }
      .container .grid-icons .wrap-bg .icon img {
        width: 87px;
        height: auto; }
    .container .grid-icons .wrap-bg .icon-only {
      display: flex;
      justify-content: center;
      margin-top: 0.3rem; }
      .container .grid-icons .wrap-bg .icon-only img {
        height: 115px;
        width: auto; }
    .container .grid-icons .wrap-bg .value {
      font-weight: 900;
      font-size: 20px;
      text-align: center;
      color: #fff; }
  @supports (backdrop-filter: none) {
    .container .wrap-bg {
      background: rgba(34, 34, 34, 0.3);
      backdrop-filter: blur(30px); } }

.desc::first-letter {
  text-transform: capitalize; }

.swiper {
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=main.css.map */
